html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

input,
button,
textarea,
select {
  font-family: inherit;
  color: inherit;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  object-fit: contain;
}

:root {
  --font-opensans: "Open Sans", serif;
  --t-fff: #fff;
  --t-000: #000;
  --b-000: #000;
  --b-fff: #fff;
  --b-000218: #000218;
  --b-060A30: #060a30;
  --b-89bcff: #89bcff;
  --b-595b82: #595b82;
  --sz-16: 16px;
  --sz-18: 18px;
  --sz-20: 20px;
  --sz-24: 24px;
  --sz-28: 28px;
  --sz-34: 34px;
  --sz-42: 42px;
  --sz-54: 54px;
}

::-webkit-scrollbar-button {
  width: 6px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--b-000218);
  box-shadow: 0 0 3px var(--b-000218) inset;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--b-fff);
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-resizer {
  width: 7px;
  height: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

body.page {
  font-family: var(--font-opensans);
  font-weight: 400;
  font-size: var(--sz-16);
  line-height: 1.2;
  color: var(--t-fff);
  background-color: var(--b-060A30);
}
body.page.j-lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: grid;
  min-height: 100dvh;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1420px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 10px;
  z-index: 20;
}

.v-hide {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 1px;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  opacity: 0;
  pointer-events: none;
}

.i-wrap {
  position: relative;
  display: flex;
  width: 100%;
}

.i-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.i-sin {
  display: block;
  object-fit: contain;
  object-position: center;
}

.sect-gap {
  margin-bottom: 100px;
}

.title {
  text-transform: uppercase;
  font-size: var(--sz-34);
  text-align: center;
}
.title span {
  display: inline-flex;
}

.main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1500px;
  perspective-origin: 50% center;
  background: url("../img/svg/night.svg") center/cover no-repeat;
}
.box {
  width: 100vw;
  height: 100dvh;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -50vw;
  animation: 4s ease-in-out 0.5s 1 normal backwards running animate-cube;
  pointer-events: none;
}
.box__side {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;
  background-color: var(--b-000218);
  border-left: 1px solid var(--b-000);
  border-right: 1px solid var(--b-000);
}
.box__side-inner {
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow-y: auto;
}
.box__side-inner.j-scroll {
  pointer-events: auto;
}
.box__side-inner .container {
  padding-bottom: 150px;
}
@media screen and (max-width: 1024px) {
  .box__side-inner .container {
    padding-bottom: 100px;
  }
}

.front {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}
.front__suptitle {
  font-size: 3vw;
  font-weight: 600;
  margin-bottom: 1vw;
}
@media screen and (min-width: 641px) {
  .front__suptitle {
    scale: 2;
    animation: small-greet 0.5s linear 4.5s forwards;
  }
}
@media screen and (max-width: 1024px) {
  .front__suptitle {
    font-size: 6vw;
  }
}
@media screen and (max-width: 640px) {
  .front__suptitle {
    font-size: 8vw;
    margin-bottom: 3vw;
    scale: 1.3;
    animation: small-greet-mob 0.5s linear 4.5s forwards;
  }
}
.front__title {
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 1vw;
}
.front__title span {
  display: inline-flex;
  opacity: 0;
}
.front__title span:nth-child(1) {
  animation: show-i 0.5s linear 5s forwards;
}
.front__title span:nth-child(2) {
  animation: show-name 0.5s linear 5.5s forwards;
}
.front__title span:nth-child(3) {
  animation: show-name 0.5s linear 6s forwards;
}
@media screen and (max-width: 1024px) {
  .front__title {
    font-size: 7vw;
  }
}
@media screen and (max-width: 640px) {
  .front__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vw;
  }
  .front__title span {
    font-size: 10vw;
    line-height: 1.3;
  }
}
.front__subtitle {
  font-size: 2.5vw;
  opacity: 0;
  animation: show-post 0.5s linear 6.5s forwards;
}
@media screen and (max-width: 1024px) {
  .front__subtitle {
    font-size: 4vw;
  }
}
@media screen and (max-width: 640px) {
  .front__subtitle {
    font-size: 6vw;
  }
}
.front__decor {
  position: absolute;
  top: 0;
  height: 80vh;
  animation: lightning 4s linear 8.5s forwards;
  opacity: 0;
  z-index: 20;
}
.front__decor.m-left {
  left: 0;
}
.front__decor.m-right {
  right: 0;
}
@media screen and (max-width: 1024px) {
  .front__decor {
    display: none;
  }
}

.right {
  display: flex;
  flex-direction: column;
  transform: rotateY(90deg) translateX(100%);
  transform-origin: top right;
}
.right__title {
  margin-bottom: 30px;
}
.right__text {
  align-self: center;
  font-size: var(--sz-24);
  text-align: center;
  line-height: 1.8;
  margin-bottom: 80px;
}
@media screen and (max-width: 640px) {
  .right__text {
    --sz-24: 20px;
    margin-bottom: 60px;
  }
}
.right__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.right__link {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--b-595b82);
  transition: scale 0.2s linear 0s;
}
@media screen and (min-width: 1024px) {
  .right__link:hover {
    scale: 1.1;
  }
}
.right__link-img {
  scale: 1.05;
}

.left {
  transform: rotateY(-90deg) translateX(-100%);
  transform-origin: top left;
}
.left__title {
  margin-bottom: 30px;
}
.portfolio__btns {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 200px));
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .portfolio__btns {
    grid-template-columns: repeat(2, minmax(50px, 200px));
  }
}
.portfolio__btn {
  position: relative;
  padding: 10px;
  display: inline-block;
  border-radius: 10rem;
  color: var(--color-tx-white);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio__btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #294f74;
  border-radius: 10rem;
  z-index: -2;
}
.portfolio__btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #152a3d;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.portfolio__btn:hover:before {
  height: 100%;
}
.portfolio__btn.j-active:before {
  height: 100%;
}
.portfolio__box {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  align-content: flex-start;
  gap: 50px 30px;
}
.portfolio__box.j-show {
  display: grid !important;
}
@media screen and (max-width: 1200px) {
  .portfolio__box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .portfolio__box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .portfolio__box {
    gap: 30px 10px;
  }
}
.portfolio__card {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s linear 0s, transform 0.5s linear 0s;
}
.portfolio__card:hover .portfolio__card-visual {
  transform: scale(1.01);
  box-shadow: 0 3px 5px 3px var(--b-000218);
}
.portfolio__card:hover .portfolio__card-name {
  text-shadow: 1px 0px 1px #000;
}
.portfolio__card.j-anim {
  opacity: 1;
  transform: scale(1);
}
.portfolio__card-visual {
  width: 100%;
  aspect-ratio: 1.5;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px 1px var(--b-000218);
  transition: transform 0.3s linear, box-shadow 0.3s linear;
}
.portfolio__card-img {
  object-fit: cover;
}
.portfolio__card-img.m-todo {
  object-position: top center;
}
.portfolio__card-name {
  font-size: var(--sz-20);
  text-align: center;
  font-weight: 500;
  transition: text-shadow 0.3s linear 0s;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .portfolio__card-name {
    --sz-20: 14px;
  }
}
@media screen and (max-width: 400px) {
  .portfolio__card-name {
    --sz-20: 12px;
  }
}

.back {
  transform: translateZ(-100vw) rotateY(180deg);
}
.back__title {
  margin-bottom: 30px;
}
.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 10px;
}
@media screen and (max-width: 992px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .skills {
    grid-template-columns: 1fr;
  }
}
.skills__card {
  color: var(--color-tx-white);
}
.skills__card-title {
  font-size: var(--sz-24);
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.skills__card-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.skills__card-item {
  position: relative;
  font-size: var(--sz-20);
  text-shadow: 1px 1px 1px #000;
  padding-left: 25px;
  cursor: pointer;
}
.skills__card-item::after {
  position: absolute;
  content: "";
  left: 0;
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  mask-image: url("../img/svg/sprite.svg#triangle");
  -webkit-mask-image: url("../img/svg/sprite.svg#triangle");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: var(--b-fff);
  transition: background-color 0.2s linear 0s;
}
.skills__card-item::before {
  position: absolute;
  content: "";
  left: 25px;
  bottom: -6px;
  height: 2px;
  width: 0;
  background-color: var(--b-fff);
  transition: width 0.2s linear 0s;
}
@media screen and (min-width: 1360px) {
  .skills__card-item:hover::after {
    background-color: var(--b-89bcff);
  }
  .skills__card-item:hover::before {
    width: calc(100% - 25px);
  }
  .skills__card-item.j-anim::after {
    opacity: 1;
    transform: translateX(0);
  }
}
.skills__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.navigation {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  animation: show-nav 1s linear 7s forwards;
}
.navigation.j-keys .navigation__keys {
  opacity: 1;
}
@media screen and (max-width: 1400px) {
  .navigation {
    bottom: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .navigation {
    bottom: 10px;
  }
}
.navigation__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--b-000);
  border: 2px solid var(--b-595b82);
  padding: 10px 20px 6px;
  border-radius: 50px;
  pointer-events: auto;
}
.navigation__keys {
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s linear 0s;
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .navigation__keys {
    display: none;
  }
}
.navigation__btn {
  position: relative;
}
.navigation__btn span {
  display: inline-flex;
  position: absolute;
  left: 50%;
  top: -40px;
  white-space: nowrap;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s linear 0s;
  background-color: var(--b-000);
  padding: 3px 8px;
  border: 1px solid var(--b-595b82);
  border-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .navigation__btn span {
    display: none;
  }
}
.navigation__btn svg {
  width: 30px;
  height: 30px;
}
.navigation__btn.j-active svg {
  fill: var(--b-89bcff);
}
.navigation__btn:hover svg {
  fill: var(--b-89bcff);
}
.navigation__btn:hover span {
  opacity: 1;
}

@keyframes animate-cube {
  0% {
    transform: scale(0) rotateY(-360deg);
  }
  100% {
    transform: scale(1) rotateY(0deg);
  }
}
@keyframes show-nav {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes small-greet {
  0% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}
@keyframes small-greet-mob {
  0% {
    scale: 1.3;
  }
  100% {
    scale: 1;
  }
}
@keyframes show-i {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes show-name {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes show-post {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes lightning {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anime-title {
  0% {
    transform: rotateY(0);
  }
  5% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}