//@mark page
.page {
 &__header {
 }
 &__main {
 }
 &__footer {
 }
}
//@mark main
.main {
 & {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1500px;
  perspective-origin: 50% center;
  background: url('/src/img/svg/night.svg') center / cover no-repeat;
 }
 &__box {
 }
}
//@mark box
.box {
 & {
  width: 100vw;
  height: 100dvh;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -50vw;
  // transition: transform 1.4s ease-in-out 0s;
  // transform: rotateY(-90deg);
  // animation: 4s ease-in-out 0s 1 normal backwards running animate-cube;
 }
 &__side {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;
  background-color: var(--b-000218);
  border-left: 1px solid var(--b-000);
  border-right: 1px solid var(--b-000);
 }
}
//@mark front
.front {
 & {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
 }
 &__suptitle {
  font-size: 3vw;
  font-weight: 600;
  scale: 2;
  animation: small-greet 0.5s linear 4s forwards;
  margin-bottom: 1vw;
 }
 &__title {
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 1vw;
  & span {
   display: inline-flex;
   opacity: 0;
   &:nth-child(1) {
    animation: show-i 0.5s linear 4.5s forwards;
   }
   &:nth-child(2) {
    animation: show-name 0.5s linear 5s forwards;
   }
   &:nth-child(3) {
    animation: show-name 0.5s linear 5.5s forwards;
   }
  }
 }
 &__subtitle {
  font-size: 2.5vw;
  opacity: 0;
  animation: show-post 0.5s linear 6s forwards;
 }
 &__decor {
  position: absolute;
  top: 0;
  height: 80vh;
  animation: lightning 4s linear 7.4s forwards;
  opacity: 0;
  z-index: 20;
  &.m-left {
   left: 0;
  }
  &.m-right {
   right: 0;
  }
 }
}
//@mark right
.right {
 & {
  display: flex;
  flex-direction: column;
  transform: rotateY(90deg) translateX(100%);
  transform-origin: top right;
 }
 &__title {
  margin-bottom: 30px;
 }
 &__text {
  align-self: center;
  font-size: var(--sz-24);
  text-align: center;
  line-height: 1.8;
  margin-bottom: 80px;
 }
 &__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
 }
 &__link {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
 }
 &__link-img {
 }
}
//@mark left
.left {
 transform: rotateY(-90deg) translateX(-100%);
 transform-origin: top left;
}
//@mark back
.back {
 transform: translateZ(-100vw) rotateY(180deg);
}
//@mark navigation
.navigation {
 & {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  animation: show-nav 1s linear 0s forwards;
  // animation: show-nav 1s linear 6.5s forwards;
 }
 &__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--b-000);
  border: 2px solid var(--b-595b82);
  padding: 10px 20px 6px;
  border-radius: 50px;
 }
 &__btn {
  position: relative;
  & span {
   position: absolute;
   left: 50%;
   top: -35px;
   white-space: nowrap;
   transform: translateX(-50%);
   pointer-events: none;
   opacity: 0;
   transition: opacity 0.1s linear 0s;
  }
  & svg {
   width: 30px;
   height: 30px;
  }
  &.j-active svg {
   fill: var(--b-89bcff);
  }
  &:hover {
   & svg {
    fill: var(--b-89bcff);
   }
   & span {
    opacity: 1;
   }
  }
 }
}
